$bcg-color-base-color: #c2b2d6;
$bcg-color-body: linear-gradient(
  0deg,
  #ffffa2,
  #c2b2d6,
  #9dd79d
); //  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$bcg-color-body-pol: -webkit-linear-gradient(
  0deg,
  #ffffa2,
  #c2b2d6,
  #9dd79d
); //* Chrome 10-25, Safari 5.1-6 */

* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
body {
  font-family: Times, serif;
  background-color: $bcg-color-base-color;
  font-size: 18px;
}

.app {
  width: 100%;
  height: 100%;
  background-image: $bcg-color-body-pol;
  background-image: $bcg-color-body;
}

.container {
  // font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  padding: 20px 25px;
  width: 90%;
  max-width: 37em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.8em;
}

.app__images-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  width: 100%;
  height: 100%;
  list-style-type: none;
}
.app__condition {
  margin-bottom: 15px;
}
.form {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.select {
  cursor: pointer;
  background-color: #ffffa23d;
  border-radius: 8px;
  padding: 10px 18px;
  transition: background-color 0.3s ease-in-out;
}
.error {
  color: red;
}
.drag-over-hover {
  border: 2px dashed #009688;
  // background-color: purple;
}
#dropZone {
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-image: url("./assets/image/icon/cloudup_icon.png");
  background-repeat: no-repeat;
  background-size: 13%;
  background-position: center 10%;
  background-color: #ffffa23d;
  border-radius: 8px;
  border: 3px dashed #ccc;

  padding: 100px 20px;
}
#dropZone:hover {
  border: 3px solid #ccc;
}
.btn-submit {
  cursor: pointer;
  background-color: #ffffa23d;
  border-radius: 8px;
  padding: 10px 18px;
  transition: background-color 0.3s ease-in-out;
}
.btn-submit:hover {
  background-color: #ffffa2d4;
}

#previewContainer {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.file-remove {
  color: blue;
  border-radius: 8px;
  padding: 10px 18px;
  margin-left: auto;
  transition: all 0.2s ease-in-out;
}
.file-remove:hover {
  cursor: pointer;
  color: red;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(61, 105, 16, 0.5);
}

.image-desc__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: move;
  list-style: none;
  border-radius: 5px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px 13px;
  margin: 10px 0;
  text-align: center;
}

.hovered {
  opacity: 0.3;
}

.image-desc__item:hover {
  background-color: #d1c9ff;
  border-color: #8673f2;
  color: #8673f2;
}
.image-desc__item img {
  max-width: 20%;
  max-height: 5%;
  margin-right: 10px;
}
.image-desc__description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}
.image__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loading {
  color: rgb(34, 168, 112);
  margin-right: 15px;
}
